window {
  /* background-color: #1e1e2e; */
  background-color: rgba(0, 0, 0, 0);
}

/* Outer bar container, takes all the window width/height */
#outer-box {
  margin: 0px;
}

/* Inner bar container, surrounds buttons */
#inner-box {
  background-color: #1e1e2e;
  border-radius: 10px;
  border: 1px solid #a6e3a1;
  padding: 5px;
  margin: 5px;
}

button,
image {
  background: none;
  border: none;
  box-shadow: none;
}

button {
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
}

button:hover {
  background-color: rgba (255, 255, 255, 0.1);
}
